@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.container {
  position: relative;
  width: 73.14%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-transform: uppercase;
}

.btn {
  position: absolute;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  padding: 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.header-bg {
  height: 100vh;
  padding-top: 50px;
  background: url("../img/header-bg.jpg") no-repeat center top/cover;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  margin-right: 50px;
}
.header__main-menu a {
  margin-left: 20px;
  margin-right: 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}
.header__phone {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 21px;
  margin-left: 20px;
  margin-right: 20px;
  float: right;
}

.main-menu, .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Anton", sans-serif;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main {
  margin-top: 16.9%;
  color: #FFFFFF;
}
.main__title h3 {
  -webkit-transform: translate(0px, 15px);
          transform: translate(0px, 15px);
  line-height: 45px;
  letter-spacing: 0.1em;
}
.main__title h1 {
  -webkit-transform: translate(-4px, 0px);
          transform: translate(-4px, 0px);
  line-height: 151px;
  text-transform: uppercase;
}
.main__btn {
  margin-top: 19px;
}

.about {
  position: relative;
  width: 100%;
  height: auto;
}

.about-title {
  display: block;
  margin-top: 110px;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 48.2%;
}
.card__title {
  margin-top: 58px;
}
.card__text {
  margin-top: 19px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.gallery {
  margin-top: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__img_small {
  width: 23.07%;
  display: block;
}
.gallery__img_big {
  width: 48.71%;
  display: block;
}

footer {
  width: 100%;
  margin-top: 114px;
  margin-bottom: 80px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer p {
  margin-right: 55px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 899px) {
  .container {
    width: 90%;
  }

  .cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .gallery {
    margin-top: 65px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__img_small {
    margin-bottom: 19px;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    display: block;
  }
  .gallery__img_big {
    margin-bottom: 19px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
  }
}
@media (max-width: 899px) and (max-width: 800px) {
  .header__logo {
    margin-right: 15px;
  }
}
@media (max-width: 899px) and (max-width: 680px) {
  .header__phone {
    display: none;
  }

  .header__main-menu a {
    margin: 0 10px;
  }
}