/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 400;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1{
    font-size: 100px;
    
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 25px;
}

.container {
    position: relative;
    width: 73.14%;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-transform: uppercase;
}
.btn {
    position:absolute;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 15px 50px;
    box-sizing: border-box;
    color: #FFFFFF;
    
}
.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}


.header-bg{
  height: 100vh;
  padding-top: 50px;
  background: url('../img/header-bg.jpg') no-repeat center top / cover ;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    &__logo-nav{
        display: flex;
    }
		// .header__logo

		&__logo {
            margin-right: 50px;
		}

		// .header__main-menu

		&__main-menu {
            a{
                margin-left: 20px;
                margin-right: 20px;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 21px;
            }
		}

		// .header__phone

		&__phone {
            color: #FFFFFF;
            font-size: 17px;
            line-height: 21px;
            margin-left: 20px;
            margin-right: 20px;
            float: right;
		}
}
.main-menu, .phone {
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}




.main {
    margin-top: 16.9%;
    color: #FFFFFF;

		// .main__title

		&__title {
            h3{ 
              transform: translate(0px, 15px);
              line-height: 45px;
              letter-spacing: 0.1em;
            }
            h1{
              transform: translate(-4px, 0px);
              line-height: 151px;
              text-transform: uppercase;
            }
		}

		// .main__btn

		&__btn {
            margin-top: 19px;

		}
}

.about {
  position: relative;
  width: 100%;
  height: auto;
}
.about-title {
  display: block;
  margin-top: 110px;
}
.cards-wrapper {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 48.2%;


		// .card__title

		&__title {
      margin-top: 58px;
		}

		// .card__text

		&__text {
      margin-top: 19px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: justify;
		}
}

.gallery {
  margin-top: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;

		// .gallary__img

		&__img_small {
      
      width: 23.07%;
      display: block;
		}
    &__img_big {
      
      width: 48.71%;
      display: block;
		}
}

footer{
  width: 100%;
  margin-top: 114px;
  margin-bottom: 80px;
}

.footer {
  // margin-top: 80px;
  // margin-bottom: 80px;
  display: flex;

  p{
    margin-right: 55px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px){
  .container{
    width: 85%;
  }
}
  

@media (min-width: 900px) and (max-width: 1199px) {
  .container{
    width: 90%;
  }
}

@media (max-width: 899px) {
  .container{
    width: 90%;
  }
  .cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .gallery {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
      // .gallary__img
  
      &__img_small {
        margin-bottom: 19px;
        
        flex-basis: 48%;
        display: block;
      }
      &__img_big {
        margin-bottom: 19px;
        flex-basis: 100%;
        display: block;
      }
  }
  @media (max-width: 800px) {
    .header__logo{
      margin-right: 15px;
    }
  }

  @media (max-width: 680px) {
    .header__phone{
      display: none;
    }
    .header__main-menu 
      a {
        margin: 0 10px;
      }
  }
}


  


// @media (max-width: 800px) {
//   .container{
//     width: 90vw;
//   }
//   .card {
//     max-width: 390px;
//     &__title {
//       margin-top: 35px;
// 		}
//   }
  
  
// .gallery {
//   margin-top: 30px;
// 		&__img {
      
//       width: auto;
//       height: 235px;
//       display: block;
// 		}
// }

// .about-title {
//   display: block;
//   margin-top: 65px;
// }

// }